body {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #213458;
}

.container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

canvas {
    
    width: 700px;
    height: 500px;

    border-radius: 1em;
    background-color: #FFCA85;
}   

button {

    background-color: #584B82;
    opacity: 0.4;
    cursor: pointer;
    font-weight: bolder;
    padding: 15px 50px;
    margin:10px 4px;
    color: #ffffff;
    font-family: sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    -webkit-transition: 0.4s cubic-bezier(.5, .24, 0, 1);
    transition: 0.4s cubic-bezier(.5, .24, 0, 1);
    border:1px solid transparent; 

}

button:hover{

    background-color: #FFCA85;
    font-style: italic;
    color: #213458;
   
}

h2 {

    text-align: center;
    color: bisque;
}